<div class="surface-overlay p-2 sm:p-3 md:p-4 lg:p-5 xl:px-8 xl:py-7">
  <div class="grid justify-content-center flex-column lg:flex-row">
    <div class="col-12 md:col-6 px-8 text-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Try Automovil Unite Now!</span>
        <div class="text-6xl text-primary font-bold mb-3">Beta Available</div>

        <button
          mat-raised-button
          color="primary"
          class="px-6 py-4 mb-3 font-bold font-medium"
          style="background-color: rgba(21, 114, 211, 0.1); color: #1572d3; border-radius: 16px; box-shadow: none; font-size: 2rem; min-width: 220px; min-height: 64px;"
          (click)="abrirEnlace()">
          TRY NOW
        </button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden flex align-items-center justify-content-center">
      <img src="https://i.postimg.cc/pV7BLMM6/image.png" alt="Image"
           class="w-auto max-w-full h-auto max-h-25rem"
           style="object-fit: contain;">
    </div>
  </div>
</div>
